*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: "Poppins",sans-serif;
}
section{
	padding-top:75px;
	padding-bottom:75px;
}
/* --- ==== header ==== --- */
.header .nav-item a:hover{
	background-color:#ffb400!important;
}
.icon-hover:hover{
	width:150px!important;
}
/* --- ==== about part start ==== --- */
#skills .success-stroke {
    stroke: #ffb400!important;
}
#skills .circle-chart__background {
    stroke: #252525!important;
}
/*--- ==== media(767px) ===== -- */
@media(max-width:767px){
	
	#nav .navbar{
		visibility: hidden;
	}
	#nav .visibility-hidden {
		visibility: visible;
	}
	#nav .media-link{
		right: 15px;
		padding: 10px 0px 12px 0px;
		top: 89%;
	}
	#home{
		overflow: unset!important;
		height: unset!important;

	}#home img{
		border-radius: 50%;
		height: 250px;
		width: 250px;
		margin: auto;
		border: 1px solid #ffb400;
	}#home .font-size-2_6 {
		font-size: 1.5rem!important;
	}#home .lead {
		font-size: 1rem;
	}#home .modal{
		position:absolute!important;
	}
	#portfolio .btn{
		font-size:12px!important;
	}
	#blog .custom-h2{
		top: -50px!important;
		opacity: 0.1!important;
		font-size: 3.5rem!important;
	}
	.display-4 {
		font-size: 1.6rem;
		font-weight:900;
	}
}
/*--- ==== media ===== -- */
@media(max-width:576px){
	
	#nav .navbar{
		visibility: hidden;
	}
	#nav .visibility-hidden {
		visibility: visible;
	}
	#nav .media-link{
		
		padding: 10px 0px 12px 0px;
		top: 91%;
	}
	#home{
		overflow: unset!important;
		height: unset!important;

	}#home img{
		border-radius: 50%;
		height: 230px;
		width: 230px;
		margin: auto;
		border: 1px solid #ffb400;
	}#home .font-size-2_6 {
		font-size: 1.5rem!important;
	}#home .lead {
		font-size: 1rem;
	}#home .modal{
		position:absolute!important;
	}#home .btn{
		font-size: 12px!important;
	}
	#portfolio .btn{
		font-size:12px!important;
	}
	#blog .custom-h2{
		top: -50px!important;
		opacity: 0.1!important;
		font-size: 3.5rem!important;
	}
	.display-4 {
		font-size: 1.6rem;
		font-weight:900;
	}
}







